[Unit]
Description=Balena custom udev rules configuration
Requires=resin-boot.service systemd-udev-trigger.service systemd-udevd.service systemd-udev-settle.service
After=resin-boot.service systemd-udev-trigger.service systemd-udevd.service systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/balena-custom-udev-rules

[Install]
WantedBy=multi-user.target
